<main>
  <div class="mx-auto">
    <.flash_group flash={@flash} />
    <div style="height: calc(100vh - 2rem)" class="w-full flex items-center justify-center from-indigo-600/50 to-emerald-800/50 bg-gradient-to-tr">
      {@inner_content}
    </div>
  </div>
</main>
