<main>
  <div class="mx-auto">
    <.flash_group flash={@flash} />
    <div style="min-height: calc(100vh - 2rem); padding-top: 10vh" class="w-full">
      {@inner_content}
    </div>
  </div>
</main>
